<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

  <title>Job Seeker</title>
  <h1></h1>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
</head>

<body>

  <div id="root">

  </div>

  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class=" active item">
          Roles
        </a>
        <a class="item">
          Account
        </a>
        <a class="item">
          Search
        </a>
        <a class="item">
          Applicants
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <h1>Roles</h1>

        <h2>Web Developer</h2>
        <h4>Description</h4>
        <p>
          <div class="briefDescription">A front-end developer needed to Design and Develop Web Applications
          </div>
        </p>
        <div class="ui role">
          <h2>Applicants</h2>
          <table class="Applicants">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Applied?</th>
                <th>Match?</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                
                  <h4 class="ui image header"></h4>
                  
                    <td><img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
                    </td>
                    <td>George Webber</td>
                    
                    <td><div class="roleName">
                      Web Developer Intern</div></td>
                  </h4>
               
                <td class="center aligned"> <i class="large green checkmark icon"></i></td>
                <td class="center aligned"> <i class="large green checkmark icon"></i></td>

              </tr>
            </tbody>
          </table>
          <h2>Matches</h2>
          <table class="Matches">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <h4 class="ui image header">
                    <td><img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
                    </td><td><div class="roleName">
                      role-name
                      <td><div class="briefDescription">description
                      </div></td>
                    </div>
                  </h4>
          
                <td><button>ACCEPT</button> or <button>DECLINE</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
      </div>

    </div>
  </div>

  </div>

</body>

</html>
